:root {
  --green: #1995ad;
  --dark: #272727;
  --grey: #bcbabe;
  --light-red: #f56976;
  --yellow: #efa500;
  --ice: #43bee5;
  --green: #41b853;
  --red: #f40058;
  --background: #161b40;
  --text: #fff;
}

/* #161B40
  #43BEE5
  #F40058
  #EFA500
  #41B853 */
